* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgb(163, 210, 240);
  font-family: Arial;
  font-size: 20px;
  padding: 75px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 10px;
}
.first {
  color: rgb(11, 163, 36);
}

.second {
  font-size: 30px;
  color: orange;
}

#your-name {
  background-color: rgb(67, 69, 187`);
  border: 5px solid rgb(241, 51, 51);
  width: 400px;
  padding: 25px;
  margin-top: 30;
  text-align: center;
  align-tracks: center;
  i
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellow;
}

#wingsuit-image {
  width: 400px;
}

#your-name h2 {
  color: olivedrab;
}
